<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <!-- 左侧侧边栏 -->
    <div id="tab">
      <div id="user">
        <div id="photo_div">
          <img id="photo" src="./img/photo.png" width="90" height="90" alt="">
        </div>
        <div id="user_left">
          <div id="user_inform">
            UID:{{userid}}<br>
            权限：{{permission}}<br>
          </div>
        </div>
      </div>
    </div>

    <!-- 右侧 -->
    <div id="right">
      <!-- 右侧顶端栏 -->
      <div id="top_tab">
        <button :class="{top_button:top_tab_state==1, top_button_notActive:top_tab_state!=1,}" @click="getStorage">库存管理</button>
        <button :class="{top_button:top_tab_state==2, top_button_notActive:top_tab_state!=2,}" @click="getUser">用户管理</button>
        <button :class="{top_button:top_tab_state==3, top_button_notActive:top_tab_state!=3,}" @click="getRequirement">申请管理</button>
        <button :class="{top_button:top_tab_state==4, top_button_notActive:top_tab_state!=4,}" @click="getStorageB">库存查询</button>
        <button :class="{top_button:top_tab_state==5, top_button_notActive:top_tab_state!=5,}" @click="getRequirementByUserid">申请填写</button>
      </div>

      <!-- 右侧第二顶端栏 -->
      <div id="sec_tab" v-if="(permission === 'ad' && top_tab_state==1)">
        <button :class="{sec_button:sec_tab_state==1,sec_button_notActive:sec_tab_state!=1}" @click="getStorage">记录管理</button>
        <button :class="{sec_button:sec_tab_state==2,sec_button_notActive:sec_tab_state!=2}" @click="getItem">物品管理</button>
        <button :class="{sec_button:sec_tab_state==3,sec_button_notActive:sec_tab_state!=3}" @click="getWarehouse">仓库管理</button>
      </div>

      <!-- 操作栏 -->
      <div class="all_actions">
        <!-- 登录 -->
        <!-- <div v-if="login_if" class="actions">
          <div class="actions_title">登录</div>
          <div class="actions_part">
            <div class="actions_part_text">UID</div>
            <input class="actions_part_input" v-model="userid" type="text">
          </div>
          <div class="actions_part">
            <div class="actions_part_text">密码</div>
            <input class="actions_part_input" v-model="password" type="password">
          </div>
          <div class="actions_part_message">{{login_message}}</div>
          <button class="actions_button" @click="login">执行</button>
        </div> -->

        <!-- 添加用户 -->
        <div class="actions"  v-if="permission === 'administrator' ">
          <div class="actions_title">添加用户</div>
          <div class="actions_part">
            <div class="actions_part_text">用户id</div>
            <input class="actions_part_input" v-model="user_id" type="text">
          </div>
          <div class="actions_part">
            <div class="actions_part_text">用户名</div>
            <input class="actions_part_input" v-model="user_name" type="text">
          </div>
          <div class="actions_part">
            <div class="actions_part_text">用户密码</div>
            <input class="actions_part_input" v-model="user_password" type="text">
          </div>
          <div class="actions_part">
            <div class="actions_part_text">用户权限</div>
            <select class="actions_part_select" name="" id="" v-model="user_permission">
              <option value="normal">普通</option>
              <option value="administrator">管理员</option>
            </select>
          </div>
          <div class="actions_part_message">{{user_message}}</div>
          <button class="actions_button" @click="addUser">执行</button>
        </div>

        <!-- 修改用户 -->
        <div class="actions"  v-if="permission === 'administrator' ">
          <div class="actions_title">修改用户</div>
          <div class="actions_part">
            <div class="actions_part_text">原用户名id</div>
            <input class="actions_part_input" v-model="user_org_id" type="text">
          </div>
          <div class="actions_part">
            <div class="actions_part_text">新用户名</div>
            <input class="actions_part_input" v-model="user_new_name" type="text">
          </div>
          <div class="actions_part">
            <div class="actions_part_text">新用户密码</div>
            <input class="actions_part_input" v-model="user_new_password" type="text">
          </div>
          <div class="actions_part">
            <div class="actions_part_text">新用户权限</div>
            <select class="actions_part_select" name="" id="" v-model="user_new_permission">
              <option value="normal">普通</option>
              <option value="administrator">管理员</option>
            </select>
          </div>
          <div class="actions_part_message">{{user_message2}}</div>
          <button class="actions_button" @click="setUser">执行</button>
        </div>

        <!-- v-if="permission === 'administrator'" -->
        <!-- 添加记录 -->
        <div class="actions" v-if="permission === 'administrator' ">
          <div class="actions_title">添加记录</div>
          <div class="actions_part">
            <div class="actions_part_text">物品id</div>
            <input class="actions_part_input" v-model="storage_itemid" type="text">
          </div>
          <div class="actions_part">
            <div class="actions_part_text">仓库id</div>
            <input class="actions_part_input" v-model="storage_warehouseid" type="text">
          </div>
          <div class="actions_part">
            <div class="actions_part_text">物品数量</div>
            <input class="actions_part_input" v-model="storage_number" type="text">
          </div>
          <div class="actions_part_message">{{storage_message}}</div>
          <button class="actions_button" @click="addStorage">执行</button>
        </div>

        <!-- 修改记录 -->
        <div class="actions" v-if="permission === 'administrator' ">
          <div class="actions_title">修改记录</div>
          <div class="actions_part">
            <div class="actions_part_text">物品id</div>
            <input class="actions_part_input" v-model="storage_itemid2" type="text">
          </div>
          <div class="actions_part">
            <div class="actions_part_text">仓库id</div>
            <input class="actions_part_input" v-model="storage_warehouseid2" type="text">
          </div>
          <div class="actions_part">
            <div class="actions_part_text">物品数量</div>
            <input class="actions_part_input" v-model="storage_number2" type="text">
          </div>
          <div class="actions_part_message">{{storage_message2}}</div>
          <button class="actions_button" @click="setStorage">执行</button>
        </div>

        <!-- 添加物品 -->
        <div class="actions" v-if="permission === 'administrator' ">
          <div class="actions_title">添加物品</div>
          <div class="actions_part">
            <div class="actions_part_text">物品名称</div>
            <input class="actions_part_input" v-model="item_name" type="text">
          </div>
          <div class="actions_part">
            <div class="actions_part_text">物品单位</div>
            <input class="actions_part_input" v-model="item_unit" type="text">
          </div>
          <div class="actions_part_message">{{item_message}}</div>
          <button class="actions_button" @click="addItem">执行</button>
        </div>

        <!-- 修改物品 -->
        <div class="actions" v-if="permission === 'administrator' ">
          <div class="actions_title">添加物品</div>
          <div class="actions_part">
            <div class="actions_part_text">原物品名称</div>
            <input class="actions_part_input" v-model="item_org_name" type="text">
          </div>
          <div class="actions_part">
            <div class="actions_part_text">物品名称</div>
            <input class="actions_part_input" v-model="item_name2" type="text">
          </div>
          <div class="actions_part">
            <div class="actions_part_text">物品单位</div>
            <input class="actions_part_input" v-model="item_unit2" type="text">
          </div>
          <div class="actions_part_message">{{item_message2}}</div>
          <button class="actions_button" @click="setItem">执行</button>
        </div>

        <!-- 添加仓库 -->
        <div class="actions" v-if="permission === 'administrator' ">
          <div class="actions_title">添加仓库</div>
          <div class="actions_part">
            <div class="actions_part_text">仓库名称</div>
            <input class="actions_part_input" v-model="warehouse_name" type="text">
          </div>
          <div class="actions_part">
            <div class="actions_part_text">仓库位置</div>
            <input class="actions_part_input" v-model="warehouse_location" type="text">
          </div>
          <div class="actions_part_message">{{warehouse_message}}</div>
          <button class="actions_button" @click="addWarehouse">执行</button>
        </div>

        <!-- 修改仓库 -->
        <div class="actions" v-if="permission === 'administrator' ">
          <div class="actions_title">修改仓库</div>
          <div class="actions_part">
            <div class="actions_part_text">原仓库名称</div>
            <input class="actions_part_input" v-model="warehouse_org_name" type="text">
          </div>
          <div class="actions_part">
            <div class="actions_part_text">新仓库名称</div>
            <input class="actions_part_input" v-model="warehouse_new_name" type="text">
          </div>
          <div class="actions_part">
            <div class="actions_part_text">新仓库位置</div>
            <input class="actions_part_input" v-model="warehouse_new_location" type="text">
          </div>
          <div class="actions_part_message">{{warehouse_message2}}</div>
          <button class="actions_button" @click="setWarehouse">执行</button>
        </div>

        <!-- 添加申请 -->
        <div class="actions" v-if="permission === 'administrator'">
          <div class="actions_title">添加申请</div>
          <div class="actions_part_text">申请类型</div>
          <select class="actions_part_select" name="" id="" v-model="requirement_new_type">
            <option value="Add">入库</option>
            <option value="Out">出库</option>
            <option value="Transfer">转移</option>
          </select>
          <div class="actions_part">
            <div class="actions_part_text">仓库</div>
            <input class="actions_part_input" v-model="requirement_new_warehouse" type="text">
          </div>
          <div class="actions_part">
            <div class="actions_part_text">物品</div>
            <input class="actions_part_input" v-model="requirement_new_itemname" type="text">
          </div>
          <div class="actions_part">
            <div class="actions_part_text">数量</div>
            <input class="actions_part_input" v-model="requirement_new_number" type="text">
          </div>
          <div class="actions_part">
            <div class="actions_part_text">新仓库</div>
            <input class="actions_part_input" v-model="requirement_new_newwarehouse" type="text">
          </div>
          <div class="actions_part_message">{{requirement_new_message}}</div>
          <button class="actions_button" @click="addRequirement">执行</button>
        </div>

        <!-- 处理申请 -->
        <div class="actions" v-if="permission === 'administrator'">
          <div class="actions_title">申请处理</div>
          <div class="actions_part">
            <div class="actions_part_text">申请id</div>
            <input class="actions_part_input" v-model="requirement_id" type="text">
          </div>
          <div class="actions_part_text">处理结果</div>
          <select class="actions_part_select" name="" id="" v-model="requirement_state">
            <option value="Implemented">已执行</option>
            <option value="Rejected">已拒绝</option>
            <option value="Canceled">已撤销</option>
          </select>
          <div class="actions_part_message">{{requirement_message}}</div>
          <button class="actions_button" @click="setRequirement">执行</button>
        </div>

      </div>

      <!-- 搜索栏 -->
      <div v-if="permission =='ad' && ser_bar_state !=0" class="searchbar" >
        <div id="searchbar_user">
          <div class="searchbar_part">
            <div class="searchbar_title">{{search_title}}</div>
            <input type="text" class="searchbar_input1" v-model="search1">
          </div>
          <div class="searchbar_part" v-if="ser_bar_state ==1 || ser_bar_state ==2">
            <div class="searchbar_title">{{search_title2}}</div>
            <input v-if="ser_bar_state ==1" type="text" class="searchbar_input1" v-model="search2">
            <select v-if="ser_bar_state ==2" id="searchbar_select" v-model="search3">
              <option value="normal">normal</option>
              <option value="administrator">administrator</option>
            </select>
          </div>
          <div class="searchbar_part">
            <button class="searchbar_button" v-if="ser_bar_state ==2" @click="getUser">搜索用户</button>
            <button class="searchbar_button" v-if="ser_bar_state ==1" @click="getStorage">搜索记录</button>
            <button class="searchbar_button" v-if="ser_bar_state ==3" @click="getRequirement">搜索申请</button>
          </div>
        </div>
      </div>

      <!-- 展示表格 -->
      <!-- 用户表 -->
      <table v-if="permission === 'ad' && top_tab_state==2" class="table">
        <tr>
          <td class="table_title">ID</td>
          <td class="table_title">用户名</td>
          <td class="table_title">权限</td>
          <td class="table_title">密码</td>
        </tr>
        <tr v-for="item in users">
          <td class="table_unit">{{item.userid}}</td>
          <td class="table_unit">{{item.username}}</td>
          <td class="table_unit">{{item.permission}}</td>
          <td class="table_unit">{{item.password}}</td>
        </tr>
      </table>

      <!-- 记录表 -->
      <table v-if="permission === 'ad' && top_tab_state==1 && sec_tab_state ==1" class="table">
        <tr>
          <td class="table_title">ID</td>
          <td class="table_title">名称</td>
          <td class="table_title">总量</td>
          <td class="table_title">单位</td>
          <td class="table_title">仓库ID</td>
          <td class="table_title">仓库名称</td>
          <td class="table_title">数量</td>
          <td class="table_title">最后出库时间</td>
        </tr>
        <tr v-for="item in storages">
          <td class="table_unit">{{item.id}}</td>
          <td class="table_unit">{{item.itemname}}</td>
          <td class="table_unit">{{item.totalnumber}}</td>
          <td class="table_unit">{{item.unit}}</td>
          <td class="table_unit">{{item.warehouseid}}</td>
          <td class="table_unit">{{item.warehousename}}</td>
          <td class="table_unit">{{item.number}}</td>
          <td class="table_unit">{{item.datetime}}</td>
        </tr>
      </table>

      <!-- 物品表 -->
      <table v-if="permission === 'ad' && top_tab_state==1 && sec_tab_state ==2" class="table">
        <tr>
          <td class="table_title">ID</td>
          <td class="table_title">物品名</td>
          <td class="table_title">单位</td>
          <td class="table_title">最后出库时间</td>
        </tr>
        <tr v-for="item in items">
          <td class="table_unit">{{item.id}}</td>
          <td class="table_unit">{{item.itemname}}</td>
          <td class="table_unit">{{item.unit}}</td>
          <td class="table_unit">{{item.datetime}}</td>
        </tr>
      </table>

      <!-- 仓库表 -->
      <table v-if="permission === 'ad' && top_tab_state==1 && sec_tab_state ==3" class="table">
        <tr>
          <td class="table_title">ID</td>
          <td class="table_title">仓库名</td>
          <td class="table_title">仓库位置</td>
        </tr>
        <tr v-for="item in warehouses">
          <td class="table_unit">{{item.id}}</td>
          <td class="table_unit">{{item.name}}</td>
          <td class="table_unit">{{item.location}}</td>
        </tr>
      </table>

      <!-- 申请表 -->
      <table v-if="permission === 'ad' && top_tab_state==3" class="table">
        <tr>
          <td class="table_title">ID</td>
          <td class="table_title">类型</td>
          <td class="table_title">物品</td>
          <td class="table_title">数量</td>
          <td class="table_title">仓库</td>
          <td class="table_title">申请人</td>
          <td class="table_title">申请时间</td>
          <td class="table_title">状态</td>
          <td class="table_title">新仓库</td>
        </tr>
        <tr v-for="item in requirements">
          <td class="table_unit">{{item.id}}</td>
          <td class="table_unit">{{item.type}}</td>
          <td class="table_unit">{{item.itemname}}</td>
          <td class="table_unit">{{item.number}}</td>
          <td class="table_unit">{{item.warehousename}}</td>
          <td class="table_unit">{{item.username}}</td>
          <td class="table_unit">{{item.datetime}}</td>
          <td class="table_unit">{{item.state}}</td>
          <td class="table_unit">{{item.newwarehousename}}</td>
        </tr>
      </table>
    </div>
  </div>
</body>

</html>

<script src="./js/vue.js"></script>
<script src="./js/axios.js"></script>
<style type="text/css">@import"css.css";</style>

<script>
    const vm = new Vue({
        el: '#app',
        data: {
          // 用户数据
          userid:"147",
          permission:"ad",
          login_message:"",
          login_if:true,

          //搜索数据
          search_title:"物品",
          search_title2:"仓库",
          search1:"",
          search2:"",
          search3:"",

          //记录
          storages:[],
          storage_itemid:"",
          storage_warehouseid:"",
          storage_number:"",
          storage_message:"",
          storage_itemid2:"",
          storage_warehouseid2:"",
          storage_number2:"",
          storage_message2:"",

          //物品
          items:[],
          item_name:"",
          item_unit:"",
          item_message:"",
          item_org_name:"",
          item_name2:"",
          item_unit2:"",
          item_message2:"",

          //仓库
          warehouses:[],
          warehouse_name:"",
          warehouse_location:"",
          warehouse_org_name:"",
          warehouse_new_name:"",
          warehouse_new_location:"",
          warehouse_message:"",
          warehouse_message2:"",

          //用户
          users:[],
          user_id:"",
          user_name:"",
          user_password:"",
          user_permission:"",
          user_org_id:"",
          user_new_name:"",
          user_new_password:"",
          user_new_permission:"",
          user_message:"",
          user_message2:"",

          //申请
          requirements:[],
          requirement_id:"",
          requirement_state:"",
          requirement_message:"",
          requirement_new_type:"",
          requirement_new_itemname:"",
          requirement_new_warehouse:"",
          requirement_new_number:"",
          requirement_new_newwarehouse:"",
          requirement_new_message:"",

          //页面控制
          top_tab_state:1,
          sec_tab_state:1,
          ser_bar_state:1,
        },
        methods: {
            login() {
                axios.get("http://localhost:4006/login",{
                  params:{
                    userid:this.userid,
                    password:this.password
                  }
                }).then(res => {
                    console.log(res.data)
                    if(res.data.data === "administrator"){
                      this.permission = res.data.data
                      this.login_if = false
                    }else if(res.data.data === "normal"){
                      this.permission = res.data.data
                      this.login_if = false
                    }else{
                      this.login_message = res.data.data
                    }
                })
            },

            getUser() {
                this.ser_bar_state = 2;
                this.search_title = "用户id"
                this.search_title2 = "用户权限"
                this.top_tab_state = 2;
                axios.get("http://localhost:4006/user",{
                  params:{
                    byid:this.search1,
                    byper:this.search3
                  }
                }).then(res => {
                    console.log(res.data.data)
                    this.users = res.data.data
                })
            },

            addUser() {
                axios.get("http://localhost:4006/addUser",{
                  params:{
                    userid:this.user_id,
                    username:this.user_name,
                    password:this.user_password,
                    permission:this.user_permission,
                  }
                }).then(res => {
                    this.getUser()
                    this.user_message = res.data.data 
                })
            },

            setUser() {
                axios.get("http://localhost:4006/setUser",{
                  params:{
                    userid:this.user_org_id,
                    username:this.user_new_name,
                    password:this.user_new_password,
                    permission:this.user_new_permission,
                  }
                }).then(res => {
                    this.getUser()
                    this.user_message2 = res.data.data 
                })
            },
            
            addStorage() {
                axios.get("http://localhost:4006/addStorage",{
                  params:{
                    itemid:this.storage_itemid,
                    warehouseid:this.storage_warehouseid,
                    number:this.storage_number
                  }
                }).then(res => {
                    this.getStorage()
                    console.log(res.data.data)
                    this.storage_message = res.data.data 
                })
            },

            setStorage() {
                axios.get("http://localhost:4006/setStorage",{
                  params:{
                    itemid:this.storage_itemid2,
                    warehouseid:this.storage_warehouseid2,
                    number:this.storage_number2
                  }
                }).then(res => {
                    this.getStorage()
                    console.log(res.data.data)
                    this.storage_message2 = res.data.data 
                })
            },
        
            getStorage() {
              this.ser_bar_state=1;
              this.search_title="物品";
              this.search_title2="仓库";
              this.top_tab_state=1;
              this.sec_tab_state=1;
                axios.get("http://localhost:4006/storage",{
                  params:{
                    itemname:this.search1,
                    warehousename:this.search2
                  }
                }).then(res => {
                    console.log(res.data.data)
                    this.storages = res.data.data
                })
            },

            getStorageB() {
              this.ser_bar_state=1;
              this.search_title="物品";
              this.search_title2="仓库";
              this.top_tab_state=4;
                axios.get("http://localhost:4006/storage",{
                  params:{
                    itemname:this.search1,
                    warehousename:this.search2
                  }
                }).then(res => {
                    console.log(res.data.data)
                    this.storages = res.data.data
                })
            },

            getItem() {
              this.ser_bar_state=0
              this.sec_tab_state=2;
                axios.get("http://localhost:4006/item").then(res => {
                    console.log(res.data.data)
                    this.items = res.data.data
                })
            },

            addItem() {
                axios.get("http://localhost:4006/addItem",{
                  params:{
                    itemname:this.item_name,
                    unit:this.item_unit,
                  }
                }).then(res => {
                    this.getItem()
                    console.log(res.data.data)
                    this.item_message = res.data.data 
                })
            },

            setItem() {
                axios.get("http://localhost:4006/setItem",{
                  params:{
                    itemname:this.item_org_name,
                    newname:this.item_name2,
                    unit:this.item_unit2,
                  }
                }).then(res => {
                    this.getItem()
                    console.log(res.data.data)
                    this.item_message2 = res.data.data 
                })
            },

            getWarehouse() {
              this.ser_bar_state=0;
              this.search_title="用户id"
              this.sec_tab_state=3;
                axios.get("http://localhost:4006/warehouse").then(res => {
                    console.log(res.data.data)
                    this.warehouses = res.data.data
                })
            },

            addWarehouse() {
                axios.get("http://localhost:4006/addWarehouse",{
                  params:{
                    name:this.warehouse_name,
                    location:this.warehouse_location,
                  }
                }).then(res => {
                    this.getWarehouse()
                    this.warehouse_message = res.data.data 
                })
            },

            setWarehouse() {
                axios.get("http://localhost:4006/setWarehouse",{
                  params:{
                    newname:this.warehouse_new_name,
                    location:this.warehouse_new_location,
                    name:this.warehouse_org_name,
                  }
                }).then(res => {
                    this.getWarehouse()
                    this.item_message2 = res.data.data 
                })
            },

            getRequirement() {
              this.ser_bar_state=3
              this.top_tab_state=3
                axios.get("http://localhost:4006/requirement",{
                  params:{
                    userid:this.search1,
                  }
                }).then(res => {
                    console.log(res.data.data)
                    this.requirements = res.data.data
                })
            },

            getRequirementByUserid() {
              this.ser_bar_state=0
              this.top_tab_state=5
                axios.get("http://localhost:4006/requirement",{
                  params:{
                    userid:this.userid,
                  }
                }).then(res => {
                    console.log(res.data.data)
                    this.requirements = res.data.data
                })
            },

            addRequirement() {
                axios.get("http://localhost:4006/addRequirement",{
                  params:{
                    type:this.requirement_new_type,
                    itemname:this.requirement_new_itemname,
                    warehouse:this.requirement_new_warehouse,
                    number:this.requirement_new_number,
                    userid:this.userid,
                    newwarehouse:this.requirement_new_newwarehouse,
                  }
                }).then(res => {
                    this.getRequirement()
                    this.requirement_new_newwarehouse = res.data.data 
                })
            },

            setRequirement() {
                axios.get("http://localhost:4006/setRequirement",{
                  params:{
                    id:this.requirement_id,
                    state:this.requirement_state,
                  }
                }).then(res => {
                    this.getRequirement()
                    this.requirement_message = res.data.data 
                })
            },
          }
    })
</script>