<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div id="app">
    <!-- 左侧侧边栏 -->
    <div id="tab">
      <div id="user">
        <div id="photo_div">
          <img id="photo" src="./img/photo.png" width="90" height="90" alt="">
        </div>
        <div id="user_left">
          <div id="user_inform">
            UID:{{userid}}<br>
            权限：{{permission}}<br>
          </div>
        </div>
      </div>
    </div>

    <!-- 右侧 -->
    <div id="right">
      <!-- 右侧顶端栏 -->
      <div id="top_tab">
        <button class="top_button" id="kcgl">库存管理</button>
        <button class="top_button" id="yhgl">用户管理</button>
        <button class="top_button" id="sqgl">申请管理</button>
      </div>

      <!-- 右侧第二顶端栏 -->
      <div id="sec_tab">
        <button class="sec_button" id="jlgl">记录管理</button>
        <button class="sec_button" id="wpgl">物品管理</button>
        <button class="sec_button" id="ckgl">仓库管理</button>
      </div>

      <!-- 操作栏 -->
      
      <div class="all_actions">
        <!-- 登录 -->
        <!-- <div v-if="login_if" class="actions">
          <div class="actions_title">登录</div>
          <div class="actions_part">
            <div class="actions_part_text">UID</div>
            <input class="actions_part_input" v-model="userid" type="text">
          </div>
          <div class="actions_part">
            <div class="actions_part_text">密码</div>
            <input class="actions_part_input" v-model="password" type="password">
          </div>
          <div class="actions_part_message">{{login_message}}</div>
          <button class="actions_button" @click="login">执行</button>
        </div> -->

        <!-- v-if="permission === 'administrator'" -->
        <!-- 添加记录 -->
        <div class="actions">
          <div class="actions_title">添加记录</div>
          <div class="actions_part">
            <div class="actions_part_text">物品id</div>
            <input class="actions_part_input" v-model="storage_itemid" type="text">
          </div>
          <div class="actions_part">
            <div class="actions_part_text">仓库id</div>
            <input class="actions_part_input" v-model="storage_warehouseid" type="text">
          </div>
          <div class="actions_part">
            <div class="actions_part_text">物品数量</div>
            <input class="actions_part_input" v-model="storage_number" type="text">
          </div>
          <div class="actions_part_message">{{storage_message}}</div>
          <button class="actions_button" @click="addStorage">执行</button>
        </div>
      </div>

      <!-- 搜索栏 -->
      <div class="searchbar">
        <div id="searchbar_user">
          <div class="searchbar_part">
            <div class="searchbar_title">{{search_title}}</div>
            <input type="text" class="searchbar_input1" v-model="search1">
          </div>
          <div class="searchbar_part">
            <div class="searchbar_title">{{search_title2}}</div>
            <select id="searchbar_select" v-model="search2">
              <option value="normal">normal</option>
              <option value="administrator">administrator</option>
            </select>
          </div>
          <div class="searchbar_part">
            <button class="searchbar_button" v-if="permission === 'administrator' " @click="getUser">搜索用户</button>
            <button class="searchbar_button" @click="getStorage">搜索记录</button>
          </div>
        </div>
      </div>

      <!-- 展示表格 -->
      <!-- 用户表 -->
      <table v-if="permission === 'administrator' " class="table">
        <tr>
          <td class="table_title">ID</td>
          <td class="table_title">用户名</td>
          <td class="table_title">权限</td>
          <td class="table_title">密码</td>
        </tr>
        <tr v-for="item in users">
          <td class="table_unit">{{item.userid}}</td>
          <td class="table_unit">{{item.username}}</td>
          <td class="table_unit">{{item.permission}}</td>
          <td class="table_unit">{{item.password}}</td>
        </tr>
      </table>

      <!-- 记录表 -->
      <table class="table">
        <tr>
          <td class="table_title">ID</td>
          <td class="table_title">名称</td>
          <td class="table_title">总量</td>
          <td class="table_title">单位</td>
          <td class="table_title">仓库ID</td>
          <td class="table_title">仓库名称</td>
          <td class="table_title">数量</td>
          <td class="table_title">最后出库时间</td>
        </tr>
        <tr v-for="item in storages">
          <td class="table_unit">{{item.id}}</td>
          <td class="table_unit">{{item.itemname}}</td>
          <td class="table_unit">{{item.totalnumber}}</td>
          <td class="table_unit">{{item.unit}}</td>
          <td class="table_unit">{{item.warehouseid}}</td>
          <td class="table_unit">{{item.warehousename}}</td>
          <td class="table_unit">{{item.number}}</td>
          <td class="table_unit">{{item.datetime}}</td>
        </tr>
      </table>
    </div>
  </div>
</body>

</html>

<script src="./js/vue.js"></script>
<script src="./js/axios.js"></script>
<style type="text/css">@import"css.css";</style>

<script>
    const vm = new Vue({
        el: '#app',
        data: {
          // 用户数据
          userid:"未登录",
          permission:"未登录",
          login_message:"",
          login_if:true,
          users:[],

          //搜索数据
          search_title:"物品名称",
          search_title2:"仓库名称",
          search1:"",
          search2:"",

          //记录
          storages:[],
          storage_itemid:"",
          storage_warehouseid:"",
          storage_number:"",
          storage_message:""
        },
        methods: {
            login(userid, password) {
              console.log(userid, password)
                axios.get("http://localhost:4006/login",{
                  params:{
                    userid:this.userid,
                    password:this.password
                  }
                }).then(res => {
                    console.log(res.data)
                    if(res.data.data === "administrator"){
                      this.permission = res.data.data
                      this.login_if = false
                    }else if(res.data.data === "normal"){
                      this.permission = res.data.data
                      this.login_if = false
                    }else{
                      this.login_message = res.data.data
                    }
                })
            },

            getUser(search1, search2) {
              console.log(search1, search2)
                axios.get("http://localhost:4006/user",{
                  params:{
                    byid:this.search1,
                    byper:this.search2
                  }
                }).then(res => {
                    console.log(res.data.data)
                    this.users = res.data.data
                })
            },
            
            addStorage(storage_itemid, storage_warehouseid,storage_number) {
                axios.get("http://localhost:4006/addStorage",{
                  params:{
                    itemid:this.storage_itemid,
                    warehouseid:this.storage_warehouseid,
                    number:this.storage_number
                  }
                }).then(res => {
                    console.log(res.data.data)
                    this.storage_message = res.data.data 
                })
            },
        
            getStorage(search1, search2) {
              console.log(search1, search2)
                axios.get("http://localhost:4006/storage",{
                  params:{
                    itemname:this.search1,
                    warehousename:this.search2
                  }
                }).then(res => {
                    console.log(res.data.data)
                    this.storages = res.data.data
                })
            },
          }
    })
</script>