<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.FoodMapper">

    <select id="selectFood" resultType="com.example.pojo.Food">
        select id,food,value,user1ate,user2ate,user3ate,user4ate,user5ate from food;
    </select>

    <insert id="addFood" parameterType="com.example.pojo.Food" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO `cc`.`food` (`food`, `value`) VALUES (#{food},#{value});
    </insert>

    <update id="delFood" parameterType="java.lang.String">
        DELETE FROM food
        WHERE food=#{food};
    </update>
</mapper>