<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.mapper.RequirementMapper">

    <!--requirement-->
    <select id="selectRequirement" resultType="com.example.pojo.Requirement">
        select * from requirement;
    </select>

    <update id="setRequirementStateById">
        UPDATE requirement
        SET state=#{state}
        WHERE id=#{id};
    </update>

    <insert id="addRequirement" parameterType="com.example.pojo.Requirement" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO `wms`.`requirement` (`type`,
                                         `itemid`,
                                         `warehouseid`,
                                         `number`,
                                         `userid`,
                                         `datetime`,
                                         `newwarehouseid`)
                                         VALUES (#{type},
                                                 #{itemid},
                                                 #{warehouseid},
                                                 #{number},
                                                 #{userid},
                                                 #{datetime},
                                                 #{newwarehouseid});
    </insert>

    <!--User-->
    <select id="selectUserByUserId" resultType="com.example.pojo.User">
        select * from user where userid=#{userid};
    </select>

    <!--Item-->
    <select id="selectItemByName" resultType="com.example.pojo.Item">
        select * from item where itemname=#{itemname};
    </select>

    <!--warehouse-->
    <select id="selectWarehouseByName" resultType="com.example.pojo.Warehouse">
    select * from warehouse where name=#{warehousename};
    </select>
</mapper>